# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
node_modules/
.DS_Store
# IDEs and editors
/.idea
.idea/*
workspace.xml
.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
a3-live/package-lock.json
package-lock.json
a3-live/package-lock.json
a3-live/package-lock.json
a3-live/package-lock.json
bridge-react/.idea/bridge-react.iml
bridge-react/.idea/encodings.xml
bridge-react/.idea/inspectionProfiles/Project_Default.xml
bridge-react/.idea/misc.xml
bridge-react/.idea/modules.xml
bridge-react/.idea/vcs.xml
qod/.idea/encodings.xml
qod/.idea/inspectionProfiles/Project_Default.xml
qod/.idea/misc.xml
qod/.idea/modules.xml
qod/.idea/qod.iml
qod/.idea/vcs.xml
bridge-react-aug/.idea/encodings.xml
a3-live/.idea/a3-live.iml
a3-live/.idea/encodings.xml
a3-live/.idea/misc.xml
a3-live/.idea/modules.xml
a3-live/.idea/vcs.xml
